.new-movie-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding-inline: 1rem;
}


.reviews-container {
  display: flex;
  justify-content: space-around;
}
